n8n-workflows/eugenia-sav-agent-dynamique.json
{
  "name": "Eugenia SAV — Agent Dynamique Mirakl",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "node-0001",
      "name": "💬 Ticket Client (Demo Chatbot)",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [80, 400],
      "webhookId": "eugenia-sav-demo-2026"
    },
    {
      "parameters": {
        "jsCode": "// Simule la réception d'un ticket Mirakl\n// En production: remplacer ce noeud par un Webhook Mirakl API\n// sessionId format: 'marketplace|country|order_id'\nconst input = $input.first().json;\nconst parts = (input.sessionId || 'amazon|FR|demo').split('|');\nconst mp = parts[0] || 'amazon';\nconst country = parts[1] || 'FR';\nconst oid = parts[2] !== 'demo' ? parts[2] : 'ORD-' + Math.floor(Math.random() * 90000 + 10000);\n\nreturn {\n  ticket_id: 'TK-' + Date.now(),\n  marketplace: mp,\n  country: country,\n  order_id: oid,\n  client_email: input.client_email || 'client@demo.com',\n  client_name: input.client_name || 'Client Demo',\n  message: input.chatInput || '',\n  subject: input.subject || 'Demande SAV',\n  created_at: new Date().toISOString(),\n  channel: 'chatbot_demo',\n  status: 'nouveau'\n};"
      },
      "id": "node-0002",
      "name": "📝 Parser Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tickets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-0003",
      "name": "💾 Supabase — Créer Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tickets?client_email=eq.{{ encodeURIComponent($('📝 Parser Ticket').item.json.client_email) }}&order=created_at.desc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "node-0004",
      "name": "🔍 Supabase — Historique Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 400]
    },
    {
      "parameters": {
        "prompt": "=<role>\nTu es le Routeur SAV d'Eugenia, un classificateur léger et ultra-rapide (Gemini Flash).\nTon seul rôle : analyser le ticket et préparer le contexte parfait pour l'Agent Principal.\nTu ne réponds PAS au client. Tu prépares le travail de l'agent.\n</role>\n\n<instructions>\n1. Classifie l'intention principale (1 seule intention dominante)\n2. Évalue l'urgence : critique si client VIP, produit manquant ou litige grave ; faible si simple info\n3. Sélectionne 2-3 outils MCP parmi : lookup_order, get_customer_history, create_return_label, update_ticket_status, send_slack_notification\n4. Génère une requête SQL précise pour récupérer le contexte métier (tables disponibles en contexte)\n5. Détermine le canal Slack approprié\n6. RÈGLE RB-01 ABSOLUE : requires_human DOIT être true si le client mentionne remboursement, refund, rembouser, rembourser\n</instructions>\n\n<goal>\nRetourner un JSON structuré strict permettant à l'Agent Principal d'opérer avec un contexte parfait, sans chercher lui-même les informations.\n</goal>\n\n<context>\nHistorique client (5 derniers tickets) :\n{{ JSON.stringify($('🔍 Supabase — Historique Client').item.json) }}\n\nTables Supabase disponibles :\n- tickets(id, ticket_id, marketplace, country, order_id, client_email, client_name, message, status, intent, urgency, ai_response, requires_human, resolved_at)\n- orders(order_id, marketplace, client_email, product_name, sku, quantity, price, status, tracking_number, estimated_delivery, created_at)\n- customers(email, name, total_orders, total_tickets, vip_status, created_at)\n</context>\n\n<inputs>\nTicket ID : {{ $('📝 Parser Ticket').item.json.ticket_id }}\nMarketplace : {{ $('📝 Parser Ticket').item.json.marketplace }}\nPays : {{ $('📝 Parser Ticket').item.json.country }}\nOrder ID : {{ $('📝 Parser Ticket').item.json.order_id }}\nClient : {{ $('📝 Parser Ticket').item.json.client_name }} ({{ $('📝 Parser Ticket').item.json.client_email }})\nMessage : {{ $('📝 Parser Ticket').item.json.message }}\n</inputs>\n\n<output_format>\nRetourne UNIQUEMENT ce JSON valide, sans markdown, sans explication, sans bloc de code :\n{\n  \"intent\": \"retour_produit|remboursement|information_commande|reclamation_livraison|probleme_qualite|autre\",\n  \"urgency\": \"critique|standard|faible\",\n  \"tools_needed\": [\"lookup_order\", \"update_ticket_status\"],\n  \"context_sql\": \"SELECT o.*, c.vip_status, c.total_tickets FROM orders o LEFT JOIN customers c ON c.email = o.client_email WHERE o.order_id = 'ORDER_ID_ICI' LIMIT 1\",\n  \"slack_channel\": \"#sav-standard\",\n  \"requires_human\": false,\n  \"guardrail_remboursement\": false,\n  \"routing_reason\": \"Courte justification du routing\"\n}\n</output_format>",
        "options": {}
      },
      "id": "node-0005",
      "name": "🧠 Routeur (Gemini Flash)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [960, 400]
    },
    {
      "parameters": {
        "modelName": "gemini-2.0-flash-001",
        "options": {
          "temperature": 0.1,
          "maxOutputTokens": 512
        }
      },
      "id": "node-0006",
      "name": "⚡ Gemini Flash 2.0",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [960, 620],
      "credentials": {
        "googleGeminiApi": {
          "id": "google-gemini-eugenia",
          "name": "Google Gemini — Eugenia Routeur"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse et valide le JSON retourné par le Routeur Gemini\nconst raw = $input.first().json.text || $input.first().json.output || '{}';\nlet router;\ntry {\n  const cleaned = raw.replace(/```json\\n?|```\\n?/g, '').trim();\n  router = JSON.parse(cleaned);\n} catch (e) {\n  // Fallback sécurisé si Gemini retourne du JSON invalide\n  router = {\n    intent: 'autre',\n    urgency: 'standard',\n    tools_needed: ['lookup_order', 'update_ticket_status'],\n    context_sql: `SELECT o.*, c.vip_status FROM orders o LEFT JOIN customers c ON c.email = o.client_email WHERE o.order_id = '${$('📝 Parser Ticket').item.json.order_id}' LIMIT 1`,\n    slack_channel: '#sav-standard',\n    requires_human: false,\n    guardrail_remboursement: false,\n    routing_reason: 'Fallback — parsing error Routeur'\n  };\n}\n\n// Injecter l'order_id réel dans le SQL généré\nconst orderId = $('📝 Parser Ticket').item.json.order_id;\nrouter.context_sql = (router.context_sql || '')\n  .replace('ORDER_ID_ICI', orderId)\n  .replace(/order_id = ''/, `order_id = '${orderId}'`);\n\n// Sécurité RB-01 : si message contient remboursement, forcer requires_human\nconst msg = ($('📝 Parser Ticket').item.json.message || '').toLowerCase();\nconst remboursementTriggers = ['rembours', 'refund', 'remboursement', 'rembouser'];\nif (remboursementTriggers.some(t => msg.includes(t))) {\n  router.requires_human = true;\n  router.guardrail_remboursement = true;\n  router.intent = 'remboursement';\n  router.slack_channel = '#sav-escalade';\n}\n\nreturn {\n  ...router,\n  ticket: $('📝 Parser Ticket').item.json\n};"
      },
      "id": "node-0007",
      "name": "📊 Parser Output Routeur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.context_sql }}",
        "options": {}
      },
      "id": "node-0008",
      "name": "🗄️ Postgres — Contexte Métier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1400, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres-eugenia",
          "name": "Supabase Postgres (Eugenia)"
        }
      }
    },
    {
      "parameters": {
        "agentType": "toolsAgent",
        "text": "=<role>\nTu es Eugenia, l'agent SAV IA d'Edgard & Cooper — marque premium d'alimentation pour animaux vendue sur les marketplaces Mirakl (Amazon, Fnac, Cdiscount, Darty) dans toute l'Europe.\nTu opères avec précision, empathie et efficacité. Tu résous les problèmes clients rapidement.\n</role>\n\n<instructions>\n1. Commence TOUJOURS par l'outil lookup_order si un order_id est présent\n2. Utilise UNIQUEMENT les outils listés dans \"Outils requis\" (sélectionnés par le Routeur)\n3. Réponds DANS LA LANGUE DU CLIENT (détection automatique depuis son message)\n4. RÈGLE RB-01 — ABSOLUE ET NON NÉGOCIABLE : N'effectue JAMAIS un remboursement de façon autonome. Si remboursement demandé : appelle send_slack_notification vers #sav-escalade, puis informe le client qu'un agent humain prend le relais sous 24h\n5. Pour les retours produit : génère l'étiquette avec create_return_label\n6. Après toute action : appelle update_ticket_status avec le statut final\n7. Pour urgence critique : appelle send_slack_notification dès le début\n</instructions>\n\n<goal>\nRésoudre le problème du client en utilisant exactement les outils sélectionnés par le Routeur, avec le contexte SQL pré-chargé. Fournir une réponse client complète, chaleureuse, et des actions traçables.\n</goal>\n\n<context>\nAnalyse du Routeur :\n- Intent : {{ $('📊 Parser Output Routeur').item.json.intent }}\n- Urgence : {{ $('📊 Parser Output Routeur').item.json.urgency }}\n- Outils requis : {{ ($('📊 Parser Output Routeur').item.json.tools_needed || []).join(', ') }}\n- Canal Slack : {{ $('📊 Parser Output Routeur').item.json.slack_channel }}\n- Validation humaine requise : {{ $('📊 Parser Output Routeur').item.json.requires_human }}\n- Raison routing : {{ $('📊 Parser Output Routeur').item.json.routing_reason }}\n\nContexte base de données (commande + client) :\n{{ JSON.stringify($('🗄️ Postgres — Contexte Métier').item.json) }}\n</context>\n\n<inputs>\nTicket ID : {{ $('📝 Parser Ticket').item.json.ticket_id }}\nMarketplace : {{ $('📝 Parser Ticket').item.json.marketplace }} | Pays : {{ $('📝 Parser Ticket').item.json.country }}\nCommande : {{ $('📝 Parser Ticket').item.json.order_id }}\nClient : {{ $('📝 Parser Ticket').item.json.client_name }} ({{ $('📝 Parser Ticket').item.json.client_email }})\nMessage : {{ $('📝 Parser Ticket').item.json.message }}\n</inputs>",
        "options": {
          "systemMessage": "Tu es Eugenia, agent SAV IA d'Edgard & Cooper. Règle absolue RB-01 : jamais de remboursement autonome — escalade humaine obligatoire. Réponds dans la langue du client.",
          "maxIterations": 6,
          "returnIntermediateSteps": false
        }
      },
      "id": "node-0009",
      "name": "🤖 Agent Principal (Eugenia)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1620, 400]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {
          "temperature": 0.3,
          "maxTokensToSample": 2048
        }
      },
      "id": "node-0010",
      "name": "⚡ Claude Sonnet 4.6",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1480, 620],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-eugenia",
          "name": "Anthropic — Eugenia SAV"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "sse",
        "sseEndpoint": "={{ $env.MCP_SERVER_URL || 'http://localhost:3001/sse' }}",
        "include": "selected",
        "includeTools": "lookup_order,get_customer_history,create_return_label,update_ticket_status,classify_urgency,send_slack_notification"
      },
      "id": "node-0011",
      "name": "🔧 MCP — Outils SAV Eugenia",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [1760, 620]
    },
    {
      "parameters": {
        "jsCode": "// GARDE-FOU RB-01 — Vérification finale avant dispatch Slack\n// Bloque toute tentative de remboursement autonome non détectée par le Routeur\n\nconst output = $input.first().json;\nconst router = $('📊 Parser Output Routeur').item.json;\nconst ticket = $('📝 Parser Ticket').item.json;\nconst agentText = output.output || output.text || '';\n\nconst remboursementMots = [\n  'remboursement effectué', 'remboursé automatiquement', 'refund processed',\n  'je vous rembourse', 'je procède au remboursement', 'remboursement de '\n];\nconst violationRB01 = remboursementMots.some(m => agentText.toLowerCase().includes(m));\n\nif (violationRB01) {\n  // Blocage RB-01 — substitution de la réponse\n  return {\n    output: \"Je comprends votre demande concernant un remboursement. Conformément à notre politique, cette demande nécessite une validation par notre équipe SAV humaine. Un agent va prendre en charge votre dossier dans les plus brefs délais et vous contactera par email sous 24h. Numéro de ticket : \" + ticket.ticket_id,\n    actions_taken: ['rb01_blocked', 'escalade_remboursement_humain'],\n    slack_channel: '#sav-escalade',\n    urgency: 'critique',\n    requires_human: true,\n    rb01_triggered: true,\n    ticket_id: ticket.ticket_id,\n    intent: 'remboursement',\n    marketplace: ticket.marketplace,\n    country: ticket.country,\n    client_name: ticket.client_name,\n    client_email: ticket.client_email,\n    order_id: ticket.order_id\n  };\n}\n\nreturn {\n  output: agentText,\n  actions_taken: output.actions_taken || [],\n  slack_channel: router.slack_channel || '#sav-standard',\n  urgency: router.urgency || 'standard',\n  requires_human: router.requires_human || false,\n  rb01_triggered: false,\n  ticket_id: ticket.ticket_id,\n  intent: router.intent,\n  marketplace: ticket.marketplace,\n  country: ticket.country,\n  client_name: ticket.client_name,\n  client_email: ticket.client_email,\n  order_id: ticket.order_id\n};"
      },
      "id": "node-0012",
      "name": "🛡️ Garde-Fou RB-01",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 400]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "combinator": "or",
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency }}",
                    "rightValue": "critique",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "leftValue": "={{ $json.rb01_triggered }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "critique"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.requires_human }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  },
                  {
                    "leftValue": "={{ $json.rb01_triggered }}",
                    "rightValue": false,
                    "operator": { "type": "boolean", "operation": "false" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "escalade"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "reclamation_livraison",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "stock"
            }
          ]
        },
        "fallbackOutput": "extra",
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "node-0013",
      "name": "🚦 Router Sévérité",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [2060, 400]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#sav-critique",
          "mode": "name"
        },
        "text": "=🚨 *TICKET CRITIQUE — {{ $json.marketplace.toUpperCase() }} {{ $json.country }}*\n\n*Ticket :* `{{ $json.ticket_id }}`   |   *Commande :* `{{ $json.order_id }}`\n*Client :* {{ $json.client_name }} ({{ $json.client_email }})\n*Intent :* `{{ $json.intent }}`\n\n*Message client :*\n> {{ $('📝 Parser Ticket').item.json.message }}\n\n*Réponse Eugenia IA :*\n{{ $json.output.substring(0, 400) }}{{ $json.output.length > 400 ? '...' : '' }}\n\n*Actions :* {{ ($json.actions_taken || []).join(' • ') || 'Voir logs' }}\n\n✅ Approuver  |  ✏️ Modifier  |  🔄 Escalader → *#sav-escalade*",
        "otherOptions": {}
      },
      "id": "node-0014",
      "name": "🚨 Slack — #sav-critique",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2280, 180],
      "credentials": {
        "slackApi": {
          "id": "slack-eugenia",
          "name": "Slack — Eugenia Workspace"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#sav-standard",
          "mode": "name"
        },
        "text": "=📬 *Ticket SAV résolu par Eugenia IA*\n\n*Ticket :* `{{ $json.ticket_id }}`  |  *{{ $json.marketplace }} {{ $json.country }}*  |  *Commande :* `{{ $json.order_id }}`\n*Client :* {{ $json.client_name }}  |  *Intent :* `{{ $json.intent }}`\n\n*Message :* {{ $('📝 Parser Ticket').item.json.message.substring(0, 150) }}{{ $('📝 Parser Ticket').item.json.message.length > 150 ? '...' : '' }}\n\n*Réponse Eugenia :* {{ $json.output.substring(0, 250) }}{{ $json.output.length > 250 ? '...' : '' }}\n\n_Actions effectuées : {{ ($json.actions_taken || []).join(' • ') || 'Aucune' }}_",
        "otherOptions": {}
      },
      "id": "node-0015",
      "name": "📬 Slack — #sav-standard",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2280, 380],
      "credentials": {
        "slackApi": {
          "id": "slack-eugenia",
          "name": "Slack — Eugenia Workspace"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#sav-stock",
          "mode": "name"
        },
        "text": "=📦 *Alerte Stock — Réclamation Livraison*\n\n*Ticket :* `{{ $json.ticket_id }}`  |  *{{ $json.marketplace }} {{ $json.country }}*\n*Commande :* `{{ $json.order_id }}`  |  *Client :* {{ $json.client_name }}\n\n*Problème signalé :*\n> {{ $('📝 Parser Ticket').item.json.message }}\n\n*Analyse Eugenia :*\n{{ $json.output.substring(0, 300) }}\n\n⚠️ _Vérifier disponibilité stock, statut expédition et tracking_",
        "otherOptions": {}
      },
      "id": "node-0016",
      "name": "📦 Slack — #sav-stock",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2280, 580],
      "credentials": {
        "slackApi": {
          "id": "slack-eugenia",
          "name": "Slack — Eugenia Workspace"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#sav-escalade",
          "mode": "name"
        },
        "text": "=👤 *ESCALADE HUMAINE REQUISE{{ $json.rb01_triggered ? ' — 🛡️ RB-01 REMBOURSEMENT BLOQUÉ' : '' }}*\n\n*Ticket :* `{{ $json.ticket_id }}`  |  *{{ $json.marketplace }} {{ $json.country }}*\n*Intent :* `{{ $json.intent }}`  |  *Commande :* `{{ $json.order_id }}`\n*Client :* {{ $json.client_name }} — {{ $json.client_email }}\n\n*Message original :*\n> {{ $('📝 Parser Ticket').item.json.message }}\n\n*Analyse Eugenia IA :*\n{{ $json.output }}\n\n{{ $json.rb01_triggered ? '*⚠️ RB-01 DÉCLENCHÉ — Remboursement détecté, validation humaine obligatoire*' : '*Raison escalade :* ' + $('📊 Parser Output Routeur').item.json.routing_reason }}\n\n*→ Action requise par un agent SAV humain*",
        "otherOptions": {}
      },
      "id": "node-0017",
      "name": "👤 Slack — #sav-escalade",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2280, 780],
      "credentials": {
        "slackApi": {
          "id": "slack-eugenia",
          "name": "Slack — Eugenia Workspace"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tickets?ticket_id=eq.{{ $('📝 Parser Ticket').item.json.ticket_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"{{ $('🛡️ Garde-Fou RB-01').item.json.requires_human ? 'escalade' : 'resolu' }}\",\n  \"intent\": \"{{ $('📊 Parser Output Routeur').item.json.intent }}\",\n  \"urgency\": \"{{ $('🛡️ Garde-Fou RB-01').item.json.urgency }}\",\n  \"ai_response\": {{ JSON.stringify($('🛡️ Garde-Fou RB-01').item.json.output) }},\n  \"requires_human\": {{ $('🛡️ Garde-Fou RB-01').item.json.requires_human }},\n  \"resolved_at\": {{ $('🛡️ Garde-Fou RB-01').item.json.requires_human ? 'null' : JSON.stringify(new Date().toISOString()) }}\n}",
        "options": {}
      },
      "id": "node-0018",
      "name": "💾 Supabase — MAJ Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2520, 480]
    }
  ],
  "connections": {
    "💬 Ticket Client (Demo Chatbot)": {
      "main": [
        [{ "node": "📝 Parser Ticket", "type": "main", "index": 0 }]
      ]
    },
    "📝 Parser Ticket": {
      "main": [
        [{ "node": "💾 Supabase — Créer Ticket", "type": "main", "index": 0 }]
      ]
    },
    "💾 Supabase — Créer Ticket": {
      "main": [
        [{ "node": "🔍 Supabase — Historique Client", "type": "main", "index": 0 }]
      ]
    },
    "🔍 Supabase — Historique Client": {
      "main": [
        [{ "node": "🧠 Routeur (Gemini Flash)", "type": "main", "index": 0 }]
      ]
    },
    "⚡ Gemini Flash 2.0": {
      "ai_languageModel": [
        [{ "node": "🧠 Routeur (Gemini Flash)", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "🧠 Routeur (Gemini Flash)": {
      "main": [
        [{ "node": "📊 Parser Output Routeur", "type": "main", "index": 0 }]
      ]
    },
    "📊 Parser Output Routeur": {
      "main": [
        [{ "node": "🗄️ Postgres — Contexte Métier", "type": "main", "index": 0 }]
      ]
    },
    "🗄️ Postgres — Contexte Métier": {
      "main": [
        [{ "node": "🤖 Agent Principal (Eugenia)", "type": "main", "index": 0 }]
      ]
    },
    "⚡ Claude Sonnet 4.6": {
      "ai_languageModel": [
        [{ "node": "🤖 Agent Principal (Eugenia)", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "🔧 MCP — Outils SAV Eugenia": {
      "ai_tool": [
        [{ "node": "🤖 Agent Principal (Eugenia)", "type": "ai_tool", "index": 0 }]
      ]
    },
    "🤖 Agent Principal (Eugenia)": {
      "main": [
        [{ "node": "🛡️ Garde-Fou RB-01", "type": "main", "index": 0 }]
      ]
    },
    "🛡️ Garde-Fou RB-01": {
      "main": [
        [{ "node": "🚦 Router Sévérité", "type": "main", "index": 0 }]
      ]
    },
    "🚦 Router Sévérité": {
      "main": [
        [{ "node": "🚨 Slack — #sav-critique", "type": "main", "index": 0 }],
        [{ "node": "👤 Slack — #sav-escalade", "type": "main", "index": 0 }],
        [{ "node": "📦 Slack — #sav-stock", "type": "main", "index": 0 }],
        [{ "node": "📬 Slack — #sav-standard", "type": "main", "index": 0 }]
      ]
    },
    "🚨 Slack — #sav-critique": {
      "main": [
        [{ "node": "💾 Supabase — MAJ Ticket", "type": "main", "index": 0 }]
      ]
    },
    "📬 Slack — #sav-standard": {
      "main": [
        [{ "node": "💾 Supabase — MAJ Ticket", "type": "main", "index": 0 }]
      ]
    },
    "📦 Slack — #sav-stock": {
      "main": [
        [{ "node": "💾 Supabase — MAJ Ticket", "type": "main", "index": 0 }]
      ]
    },
    "👤 Slack — #sav-escalade": {
      "main": [
        [{ "node": "💾 Supabase — MAJ Ticket", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Eugenia SAV" },
    { "name": "Hackathon Mirakl" },
    { "name": "Agent Dynamique" }
  ],
  "triggerCount": 1,
  "versionId": "v1.0.0"
}
